<h1>Users#dashboard</h1>
<p>Find me in app/views/users/dashboard.html.erb</p>
<%= link_to 'List Users', users_path %>
<%= link_to 'List Companies', companies_path %>
<%= link_to 'List of Enquires', enquiries_path %>
<%= link_to 'List Listings', listings_path %>
